<!DOCTYPE html>
<html lang="en">
<%- include('head_ID.ejs') -%>
<body>
<%- include('header.ejs') -%>
    <div class="section" style="position: relative">
        <div class="slide_header">
            <ul class="section">
                <li class="banner1 " style="background-image: url('<%= "http://eproject-funnydev.herokuapp.com/" + species.SpeciesImg1 %>')"></li>
                <li class="banner2 " style="background-image: url('<%= "http://eproject-funnydev.herokuapp.com/" + species.SpeciesImg2 %>')"></li>
            </ul>
        </div>
    </div>
<div class="section" style="height:750px"></div>
<section class="section_hoa">
    <div class="section_hoa decription_hoa col-xs-12">
        <div class="decr1_hoa col-xs-12 text-center ">
            <h1 class='txtretroshadow'><%= species.SpecyName%></h1>
            <div class="decr1_hoa col-xs-12 text-center ">
                <p><i><h3><%= species.SpecySum%></h3></i></p>
            </div>
        </div>
    </div>
    <div class=" decr1_hoa col-xs-12 text-center">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <p><%= species.SpecyDesc%></p>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="info_hoa section_hoa col-xs-12 text-center">
        <div class="info1  col-xs-5 text-center">
            <span><i class="fab fa-airbnb"></i></span>
            <h4><b>Biological systems</b></h4>
            <p><%= species.SpecyBioSys%></p>
        </div>
        <div class="info2  col-xs-2  text-center">
            <span><i class="fab fa-opencart"></i></span>
            <h4><b>Origins</b></h4>
            <p><%= species.SpecyOrigin%></p>
        </div>

        <div class="info3  col-xs-5  text-center">
            <span><i class="fab fa-bity"></i></span>
            <h4><b>The first mammal</b></h4>
            <p><%= species.SpecyFirst%></p>
        </div>
    </div>
    <div class="product col-xs-12">
        <% for (var i=0;i<6;){
                for(var j=0;j<animals.length;j++){%>
            <div class=" product1 col-xs-2"><img src="animals[j].AnimalImg1">
                <div class=" product1 name_x"><b>Panda</b></div>
            </div>
        <% i++ }} %>
    </div>
    <div class="tour col-xs-12 ">
        <div class=" col-xs-12 text-center">
            <h5>|</h5>
            <h1>Explore Tours</h1>
            <p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</i></p>
        </div>
        <div class="col-xs-12 info4">
            <div class="col-xs-2"></div>
            <div class="box col-xs-4">
                <div class="col-xs-6 box1"><img src="imgs/hoa/tour1.jpg" ></div>
                <div class="col-xs-5 box2 ">
                    <h4>Lake Baikal</h4>
                    <p>16.04.2014</p>
                    <p>Is a UNESCO World</br>  Heritage Site in Quảng Ninh</br> Province , Vietnam  . The</br>
                        name Hạ Long means</br> "descending dragon".</p>
                    <h6>Travel</h6>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <div class="box col-xs-4 ">
                <div class="col-xs-6 box1"><img src="imgs/hoa/tour.jpg"></div>
                <div class="col-xs-5 box2">
                    <h4>Ha Long Bay</h4>
                    <p>05.05.2000</p>
                    <p>Is a UNESCO World</br> Heritage Site in Quảng</br> Ninh Province , Vietnam .</br> The
                        name Hạ Long</br> means "descending</br> dragon".</p>
                    <h6>Travel</h6>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</section>
<%- include('footer.ejs') -%>
</body>
</html>
